.product-card {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.product-card h3 {
  color: #333;
}

.product-card p {
  color: #777;
  margin: 5px 0;
}
